.headerContainer{
    background-image: url(../../images/gallery.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-shadow: inset 0 0 0px 2000px rgb(0 0 0 / 25%);
}
.headerContainer h1{
    margin: 0;
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
